.container{
    padding-top: 120px;
    width: 80%;
    margin-left: 10%;
}
.headcard{
    display: grid;
    grid-template-columns: auto auto auto;
}
.head{
    background-color: rgb(211, 142, 77);
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    font-size: 2em;
    padding: 10px;
    color: white;
}
.content{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(211, 142, 77);
    border: 1px solid black;
    margin-bottom: 5%;
    /* text-align: justify; */
    line-height: 50px;
    font-size: 0.8em;
}
.inner{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2em;
}
.pic{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.img{
    height: 60vh;
    width: 90%;
    margin-left: 5%;
    background-image: url(../img/demo.jpg);
    transform: scale(0.9);
    transition: 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img:hover{
    transform: scale(1);
}
.maincard{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.card{
    position: relative;
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    transition: 0.6s;
    box-shadow: 0px 0px 10px;
    margin-bottom: 50px;
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../material/renaissance/Da Vinci/leonardo-da-vinci.jpg');
    transition: 0.6s;
    cursor: pointer;
    z-index: 1;
}
.front:hover{
    opacity: 0;
    transform: scale(1.5);
}
.back{
    width: 100%;
    height: 100%;
    background-color: rgb(161, 161, 161);
    color: white;
    text-align: center;
}
.cardimg{
    position: relative;
    top: 20px;
    width: 90%;
    margin-left: 5%;
    height: 30%;
    /* background-image: url('../material/renaissance/Da Vinci/leonardo-da-vinci.jpg'); */
}
.tag{
    position: relative;
    top: 40px;
}
#footer{
    position: relative;
    background-color: black;
    width: 100%;
    height: 40vh;
}