@font-face{
    font-family: 'Chakra Petch';
    src: url('../font/Chakra_Petch/ChakraPetch-Light.ttf');
}

body{
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    /* background-color: rgb(165, 101, 42); */
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
.container{
    width: 100%;
    /* height: 5000px; */
}
#content{
    width: 100%;
    height: 100vh;
    font-size: 3em;
}
#tophero{
    width: 100%;
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 5%;
    text-align: right;
    background-color: rgba(211, 142, 77, 0.844);
    padding: 10% 0%;
}
.chead{
    border-right: solid black 3px;
    padding-right: 50px;
}
.view{
    text-align: left;
}

.view input{
    font-family: 'Chakra Petch', sans-serif;
    position: relative;
    margin-top: 10%;
    margin-left: 20%;
    border: none;
    background-color: white;
    font-size: 1em;
    padding: 10px 50px;
    box-shadow: 2px 2px 10px black;
}

.p1{
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.p2{
    color: rgb(0, 0, 0);
    font-size: 1em;
}

#bothero{
    background-color: white;
    background-color: rgba(211, 142, 77, 0.844);
    display: grid;
    grid-template-columns: auto 50%;
    width: 80%;
    margin-left: 10%;
    height: 80vh;
}
.text{
    width: 100%;
    padding: 10% 0%;
    font-size: 3em;
    margin-top: 20%;
}
#button{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
.head{
    margin-left: 100px;
    color: rgb(0, 0, 0);
}
#hmain{
    margin-top: 5%;
    color: white;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
}
#pic{
    /* border-right: solid 1px black; */
    width: 100%;
    height: 80vh;
    background-image: url(../img/demo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    transform: scale(0.9);
}

.go{
    font-family: 'Chakra Petch', sans-serif;
    width: 60%;
    font-size: 0.7em;
    border: none;
    margin-left: 20%;
    margin-top: 10%;
    padding: 10px 0px;
    background-color: white;
    box-shadow: 2px 2px 10px black;
}

#footer{
    margin-top: 20%;
    width: 100%;
    padding: 25vh 0vh;
    background-color: black;
}

@media only screen and (max-width: 1400px){
    
    #bothero{
        grid-template-columns: auto 50%;
        /* height: 50vh; */
    }
    #pic{
        /* height: 50vh; */
    }
    .head{
        font-size: 1em;
        margin-left: 30px;
    }
    .text{
        font-size: 2em;
        margin-top: 20%;
    }
    .go{
        font-size: 1em;
    }
    #button{
        margin-top: 10%;
    }
}

@media only screen and (max-width: 850px){
    
    #bothero{
        margin: 0;
        grid-template-columns: auto 50%;
        width: 100%;
        /* height: 50vh; */
    }
    #pic{
        /* height: 50vh; */
    }
    .head{
        font-size: 0.5em;
        margin-left: 30px;
    }
    .text{
        font-size: 3em;
        margin-top: 5%;
    }
    .go{
        width: 80%;
        font-size: 0.5em;
        margin-left: 10%;
    }
    #button{
        margin-top: 10%;
    }

    #content{
        height: 100vh;
    }
    #tophero{
        margin-top: 5%;
        grid-template-columns: auto;
        font-size: 0.4em;
    }
    .chead{
        border: none;
        padding: 10px 0px;
        text-align: center;
    }
    .view input{
        /* display: none; */
        margin: 0;
        width: 50%;
        margin-top: 10px;
        margin-left: 25%;
    }
}

@media only screen and (max-width: 500px){
    
    #bothero{
        grid-template-columns: auto;
        height: 100vh;
    }
    #pic{
        height: 50vh;
    }
    .head{
        color: black;
        font-size: 0.5em;
        margin-left: 30px;
    }
    .text{
        margin-top: 0;
    }
    .go{
        font-size: 0.5em;
        width: 80%;
        margin-left: 10%;
    }
    #content{
        height: 40vh;
    }
    #tophero{
        grid-template-columns: auto;
        font-size: 0.4em;
    }
    .chead{
        border: none;
        padding: 10px 0px;
        text-align: center;
    }
    .view input{
        display: none;
        margin: 0;
        width: 50%;
        margin-top: 10px;
        margin-left: 25%;
    }
}