@font-face{
    font-family: 'Chakra Petch';
    src: url('../font/Chakra_Petch/ChakraPetch-Light.ttf');
}

body{
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    /* background-color: rgb(165, 101, 42); */
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
.container{
    width: 100%;
    /* height: 5000px; */
}
#content{
    width: 100%;
    height: 100vh;
    font-size: 3em;
}
/* #tophero{
    width: 100%;
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 5%;
    text-align: right;
    background-color: rgba(211, 142, 77, 0.844);
    padding: 10% 0%;
} */
.chead{
    border-right: solid black 3px;
    padding-right: 50px;
}
.view{
    text-align: left;
}

.view input{
    font-family: 'Chakra Petch', sans-serif;
    position: relative;
    margin-top: 10%;
    margin-left: 20%;
    border: none;
    background-color: white;
    font-size: 1em;
    padding: 10px 50px;
    box-shadow: 2px 2px 10px black;
}

.p1{
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.p2{
    color: rgb(0, 0, 0);
    font-size: 1em;
}

#bothero{
    margin-top: 5%;
    background-color: white;
    background-color: rgba(211, 142, 77, 0.844);
    display: grid;
    grid-template-columns: auto 50%;
    width: 80%;
    margin-left: 10%;
    /* height: 80vh; */
}
.text{
    width: 100%;
    padding: 10% 0%;
    font-size: 3em;
    text-align: center;
    /* margin-top: 20%; */
}
#button{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.head{
    margin-top: 20%;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}
.dis{
    font-size: 0.5em;
}
#hmain{
    margin-top: 20%;
    margin-bottom: 10%;
    color: white;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    font-size: 0.8em;
}
#pic{
    /* border-right: solid 1px black; */
    width: 100%;
    height: 80vh;
    background-image: url(../img/demo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    transform: scale(0.95);
    box-shadow: 2px 2px 10px black;
}

.go{
    font-family: 'Chakra Petch', sans-serif;
    width: 60%;
    font-size: 0.7em;
    border: none;
     margin-left: 20%;
    /* margin-top: 10%; */
    padding: 10px 0px;
    background-color: white;
    /* box-shadow: 2px 2px 10px black; */
    cursor: pointer;
    transition: 0.5s;
}

.go:hover{
    /* background-color: rgb(167, 167, 167); */
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
}

.dot{
    display: flex;
    width: 100%;
    margin: auto;
    margin-left: auto;
    margin-left: auto;
    justify-content: center;
}

.point{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin: 0px 10px 20px 20px;
    cursor: pointer;
    /* border: 1px solid rgb(211, 142, 77); */
}

.point:hover{
    transform: scale(0.9);
    /* border: 1px solid rgb(0, 0, 0); */
}

@media only screen and (max-width: 500px){
    #bothero{
        grid-template-columns: auto;
        width: 100vw;
        margin: 0;
        height: 100vh;
    }
    .head{
        font-size: 0.5em;
        margin: 0;
    }
    .text{
        width: 100%;
        padding: 0;
    }
    #hmain{
        font-size: 0.5em;
        margin: 20px 0px;
    }
    #pic{
        height: 50vh;
        margin-bottom: 10px;
    }
    .go{
        font-size: 0.4em;
    }
    #button{
        margin: 20px 0px;
    }
}