@font-face{
    font-family: 'Chakra Petch';
    src: url('../font/Chakra_Petch/ChakraPetch-Light.ttf');
}

body{
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    /* background-image: url(../img/demo.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
.container{
    width: 100%;
    /* height: 1000px; */
}
#hero{
    background-color: white;
    display: grid;
    grid-template-columns: auto 50%;
    width: 100%;
    height: 100vh;
}
.text{
    width: 100%;
    padding: 10% 0%;
    font-size: 3em;
    margin-top: 20%;
}
#button{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
.head{
    margin-left: 100px;
}
#hmain{
    margin-top: 5%;
    color: red;
}
#pic{
    /* border-right: solid 1px black; */
    width: 100%;
    height: 100vh;
    background-image: url(../img/demo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
#pic:hover{
    /* transform: scale(0.5); */
    /* width: 90%;
    height: 90vh;
    margin-left: 5%;
    margin-top: 5vh; */
}
.go{
    font-family: 'Chakra Petch', sans-serif;
    width: 60%;
    font-size: 0.7em;
    border: none;
    margin-left: 20%;
    margin-top: 10%;
    padding: 10px 0px;
}

@media only screen and (max-width: 1400px){
    
    #hero{
        grid-template-columns: auto 50%;
        /* height: 50vh; */
    }
    #pic{
        /* height: 50vh; */
    }
    .head{
        font-size: 1em;
        margin-left: 30px;
    }
    .text{
        font-size: 2em;
        margin-top: 20%;
    }
    .go{
        width: 80%;
        font-size: 1em;
        margin-left: 10%;
    }
    #button{
        margin-top: 10%;
    }
}

@media only screen and (max-width: 850px){
    
    #hero{
        grid-template-columns: auto 50%;
        /* height: 50vh; */
    }
    #pic{
        /* height: 50vh; */
    }
    .head{
        font-size: 0.5em;
        margin-left: 30px;
    }
    .text{
        font-size: 3em;
        margin-top: 5%;
    }
    .go{
        width: 80%;
        font-size: 0.5em;
        margin-left: 10%;
    }
    #button{
        margin-top: 10%;
    }
}

@media only screen and (max-width: 500px){
    
    #hero{
        grid-template-columns: auto;
        height: 50vh;
    }
    #pic{
        height: 50vh;
    }
    .head{
        font-size: 0.5em;
        margin-left: 30px;
    }
    .text{
        margin-top: 0;
    }
    .go{
        font-size: 0.5em;
        width: 80%;
        margin-left: 10%;
    }
}