@font-face{
    font-family: 'Chakra Petch';
    src: url('../font/Chakra_Petch/ChakraPetch-Italic.ttf');
}

body{
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    background-image: url(../img/demo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s;
}
.container{
    width: 100vw;
}
#guide{
    position: relative;
    font-size: 2em;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 60%;
    margin-left: 20%;
    padding: 50px 0px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    background-color: rgba(167, 98, 33, 0.8);
    /* background-color: rgb(201, 152, 46); */
    color: white;
}
.inner{
    position: relative;
    top: 30%;
}
#select{
    font-family: 'Chakra Petch', sans-serif;
    border: none;
    font-size: 1.1em;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    padding: 10px;
}
#go{
    font-family: 'Chakra Petch', sans-serif;
    background-color: white;
    border: none;
    font-size: 1.1em;
    padding: 5px 50px;
    margin: 10px;
    border: solid rgb(165, 101, 42) 0.5px;
    color: rgb(165, 101, 42);
}
#go:hover{
    border: solid black 0.5px;
}

@media only screen and (max-width: 1200px){
    #guide{
        margin-top: 20%;
        width: 80%;
        margin-left: 10%;
    }
    .inner{

    }
}
@media only screen and (max-width: 900px){
    #guide{
        margin-top: 5%;
        width: 80%;
        margin-left: 10%;
    }
    .inner{
        
    }
}
@media only screen and (max-width: 500px){
    #guide{
        margin-top: 40%;
        width: 80%;
        margin-left: 10%;
        font-size: 1.9em;
    }
    #select{
        font-size: 0.6em;
    }
    #go{
        font-size: 0.6em;
    }
    .inner{
        
    }
}